
#screen_lights{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 7px solid black;
    width: 50%;
    height: 500px;
    
    

}


#bloc1 {
    
    border-radius: black 10px;
    background-color:black ;
    width: 100px;
    height: 100px;


}

#bloc2 {
    
    border-radius: black 10px;
    background-color: black ;
    width: 100px;
    height: 100px;

}

#bloc3 {
    
    border-radius: black 10px;
    background-color:black ;
    width: 100px;
    height: 100px;

}

button {

    margin: 25px;
}

#lightON {

    background-color: yellow;

}
    


